<div [@glow]="{value: glow, params: {delay: 100 * counter1}}" class="content">
  <mat-card>
    <div *ngIf="! leaf">
      CD Strategy:
      <span *ngIf="onPush"><b>OnPush</b></span>
      <span *ngIf="! onPush"><b>Default</b></span>
    </div>
    <div>Total checks: <b>{{totalChecks}}</b></div>

    <button *ngIf="! leaf" mat-raised-button color="primary" (click)="trigger()">Trigger</button>

    <!--<mat-checkbox color="primary">Push</mat-checkbox>-->
  </mat-card>
</div>

<svg *ngIf="! leaf">
  <line x1="50%" y1="25%" x2="25%" y2="75%" style="stroke: black; stroke-opacity: 0.2; stroke-width: 4px;"/>
  <line x1="50%" y1="25%" x2="75%" y2="75%" style="stroke: black; stroke-opacity: 0.2; stroke-width: 4px;"/>
</svg>

<div fxLayoutAlign="stretch start" *ngIf="! leaf" style="flex-wrap: nowrap;">
  <rt-tree-item-default fxFlex="1 1 auto" [depth]="depth + 1" [maxDepth]="maxDepth"></rt-tree-item-default>
  <rt-tree-item-default fxFlex="1 1 auto" [depth]="depth + 1" [maxDepth]="maxDepth"></rt-tree-item-default>
</div>
