<mat-card style="max-width: 800px; margin: 16px auto;">

  <div fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 500}}">
      <img src="assets/angular.logo.png">
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 750}}">
      <img src="assets/material-design.logo.svg">
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 1000}}">
      <img src="assets/covalent.logo.svg">
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 1250}}">
      <img src="assets/typescript.logo.png">
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 1500}}">
      <img src="assets/sass.logo.png">
    </mat-card>
    <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 1750}}">
      <img src="assets/npm.logo.png">
    </mat-card>
  </div>

  <p>
    This demo is built on <a href="https://angular.io" target="_blank">Angular</a> platform
    and written fully in <a href="http://www.typescriptlang.org" target="_blank">TypeScript</a>
  </p>
  <p>
    As a component set it utilizes the power of brilliant <a href="https://material.angular.io/" target="_blank">Angular Material</a>
    and its awesome extension - <a href="https://teradata.github.io/covalent" target="_blank">Covalent</a>
  </p>
  <p>Then flexbox via <a href="https://github.com/angular/flex-layout" target="_blank">Angular Flex Layout</a>
    and finally <a href="https://github.com/swimlane/ngx-charts" target="_blank">NGX Charts</a> - a free charting engine
  </p>

  <p>It's very much in progress, but there's something to show at the moment</p>

  <p>So, what's included for now:</p>
  <ul>
    <li><a routerLink="/sortings">Real-time sorting algorithms comparison</a></li>
    <li><a routerLink="/fractals">Simple fractal painter</a></li>
  </ul>

</mat-card>
