<mat-card fxLayout="row wrap" fxLayoutAlign="center center" class="icon-container mat-elevation-z3">
  <mat-card *ngFor="let asset of assets; let i = index"
            fxLayoutAlign="center center"
            class="small-icon-wrapper"
            [@appear]="{value: true, params: {delay: 500 + i * 200}}"
  >
    <img [src]="asset">
  </mat-card>
</mat-card>

<div fxLayoutAlign="center">

  <div style="margin: 64px 32px 32px 32px">
    <p>
      This demo is built on <a href="https://angular.io" target="_blank">Angular</a> platform
      and written fully in <a href="http://www.typescriptlang.org" target="_blank">TypeScript</a>
    </p>
    <p>
      As a component set it utilizes the power of brilliant <a href="https://material.angular.io/" target="_blank">Angular Material</a>
      and its awesome extension - <a href="https://teradata.github.io/covalent" target="_blank">Covalent</a>
    </p>
    <p>
      Then flexbox via <a href="https://github.com/angular/flex-layout" target="_blank">Angular Flex Layout</a>
      and finally <a href="https://github.com/swimlane/ngx-charts" target="_blank">NGX Charts</a> - a free charting engine
    </p>

    <p>This demo may look trivial, but in fact it's based on quite complicated techniques like<br>
      webworkers, async\await & RxJS streams, directives & parametrized animations.
    </p>

    <p>It's very much in progress, but of course there's something to show for now:</p>
    <ul>
      <li><a routerLink="/sortings">Real-time sorting algorithm comparison</a></li>
      <li><a routerLink="/fractals">Simple fractal painter</a></li>
    </ul>
  </div>

</div>
