<mat-card style="margin: 16px;" fxLayout>

  <div>
    <p>This demo is built on <a href="https://angular.io" target="_blank">Angular</a> platform and written fully in TypeScript</p>
    <p>As a component set it uses excelent <a href="https://github.com/angular/material2">Angular Material</a> and its awesome extension - <a href="">Covalent</a> by Teradata guys</p>
    <p>Flexbox via <a href="https://github.com/angular/flex-layout">Angular Flex Layout</a></p>
    <p>The CLI</p>
    <p>Also NGX Charts help me a lot in painting</p>
    <p>Internally it also uses canvas, web workers, svg, local storage...</p>
  </div>

  <div>
    <div fxLayout="row" fxLayoutAlign="start">
      <mat-card fxFlex="150px" fxLayoutAlign="center center" class="icon-wrapper" [@appear]="{value: true, params: {delay: 1000}}">
        <img style="width: 100%;" src="assets/angular.logo.png">
      </mat-card>
      <mat-card fxFlex="150px" fxLayoutAlign="center center" class="icon-wrapper" [@appear]="{value: true, params: {delay: 1250}}">
        <img style="width: 100%;" src="assets/typescript.logo.png">
      </mat-card>
      <mat-card fxFlex="150px" fxLayoutAlign="center center" class="icon-wrapper" [@appear]="{value: true, params: {delay: 1500}}">
        <img style="width: 100%;" src="assets/covalent.logo.svg">
      </mat-card>
      <mat-card fxFlex="150px" fxLayoutAlign="center center" class="icon-wrapper" [@appear]="{value: true, params: {delay: 1750}}">
        <img style="width: 100%;" src="assets/material-design.logo.svg">
      </mat-card>
    </div>

    <div fxLayout="row">
      <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 2000}}">
        <img style="width: 100%;" src="assets/sass.logo.png">
      </mat-card>
      <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 2250}}">
        <img style="width: 100%;" src="assets/npm.logo.png">
      </mat-card>
      <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 2500}}">
        <img style="height: 100%;" src="assets/gulp.logo.svg">
      </mat-card>
      <mat-card fxLayoutAlign="center center" class="small-icon-wrapper" [@appear]="{value: true, params: {delay: 2750}}">
        <img style="width: 100%;" src="assets/webpack.logo.svg">
      </mat-card>
    </div>
  </div>
</mat-card>

<!--<p>So, what's included:</p>-->
