img {
  width: 100%;
}

.small-icon-wrapper {
  display: flex;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.icon-container {
  background: lightblue;
}
