<div fxLayout="column" style="height: 100%;">

  <mat-toolbar fxFlex="none" color="primary" class="mat-elevation-z5">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="stretch center">
      <a routerLink="/about" mat-button routerLinkActive="active"
         fxFlex="none" fxFlexAlign="stretch" fxLayoutAlign="center center">
        <mat-icon class="mat-icon-40">home</mat-icon>
      </a>

      <div fxFlex="stretch"></div>

      <a mat-button routerLink="/sortings" routerLinkActive="active"
         fxFlex="none" fxFlexAlign="stretch" fxLayoutAlign="center center">
        <mat-icon style="transform: scale(-1,-1);">sort</mat-icon>&nbsp;
        <span>Sortings</span>
      </a>

      <a mat-button routerLink="/fractals" routerLinkActive="active"
         fxFlex="none" fxFlexAlign="stretch" fxLayoutAlign="center center">
        <mat-icon>fingerprint</mat-icon>&nbsp;
        Fractals
      </a>

      <div fxFlex="stretch"></div>

      <a mat-button href="https://github.com/rt-gavrilov/angular-demo" target="_blank"
         fxFlexAlign="stretch" fxLayoutAlign="center center">
        <img src="assets/github.logo.png" style="width: 32px; height: 32px; filter: invert(100%);">
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex="1 1 100%">
    <router-outlet></router-outlet>
  </div>

</div>
