<div fxLayoutAlign="center start" fxFill>
  <mat-card style="margin: 32px; width: 700px;">
    <h3 fxLayoutAlign="center">
      Seems like you're for the first time here, so that's a simple check for you:
    </h3>

    <div fxLayout="row wrap" fxLayoutAlign="center">
      <mat-card *ngFor="let framework of frameworks"
                [@tdFadeInOut]="framework.shown"
                [@tdJello]="framework.jello"
                [@tdHeadshake]="framework.headshake"
                [@tdBounce]="framework.bounce"
                [@rtGrayOut]="framework.disabled"
                fxLayoutAlign="center center"
                class="icon-wrapper"
                [class.disabled]="framework.disabled"
                (mouseenter)="framework.animate($event)"
                (click)="onSelect(framework)">
        <img style="width: 100%;" [src]="framework.image">
      </mat-card>
    </div>

    <td-message *ngIf="chosen" [color]="chosen.valid ? 'primary' : 'warn'" [sublabel]="chosen.comment">
    </td-message>

  </mat-card>
</div>
