<div fxLayout="row wrap" fxLayoutAlign="center start">

  <mat-card
    fxFlex="1 1 400px"
    [@appear]="{value: true, params: {delay: 500 + 100 * i}}"
    *ngFor="let item of items; let i = index;">

    <a [routerLink]="[item.fractal.name]" [queryParams]="getQueryParams(item)">
      <rt-fractal
        [fractalSet]="item.fractal"
        [area]="item.area"
        [palette]="item.palette"
        style="height: 300px;">
      </rt-fractal>
    </a>

    <!--<mat-card-title>-->
      <!--{{item.fractal.name}}-->
    <!--</mat-card-title>-->

  </mat-card>

</div>
