<div class="actions">
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <button mat-mini-fab color="primary" (click)="zoomIn()" matTooltip="Zoom in 50%" matTooltipPosition="right">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="zoomOut()" matTooltip="Zoom out 50%" matTooltipPosition="right">
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="resetZoom()" matTooltip="Reset zoom" matTooltipPosition="right">
      <mat-icon>find_replace</mat-icon>
    </button>

    <mat-icon color="primary" class="mat-36" matTooltip="Select area to zoom in" matTooltipPosition="right">
      help_outline
    </mat-icon>
  </div>
</div>

<rt-fractal
  class="fully-stretched"
  [painter]="fractal"
  [area]="area">
</rt-fractal>

<rt-selectable-area class="fully-stretched" (select)="onAreaSelect($event)"></rt-selectable-area>
